
 // ________menu2+logo____________________________
 footer{
    background-color: #000000;
    color: #fefefe;
    height: auto;
    font-family: "Lato-Regular";
    text-align: center;
   

    .menu2_logo{
        display: flex;
        justify-content:space-around;
    }

    nav div ul{
        margin-top: 65px;
        padding: 2%  ;
        color:rgb(255, 255, 255) ;
        display: flex;
        width: 28%;
        font-size: 20px;
        li {
            padding-right: 5%;
            margin-right: 2%;
            }
        a{ 
            color: rgb(255, 255, 255);
            }
    }

    .logo2{
        display: block;
        width:179px;
        height:59px;
        margin-top: 65px;
}
    .footer_cordonne{
      
        .footer_tr{
        border: none;
        background-color: #fefefe;
        height: 1px;
        width: 80%;
        margin: 10%;
        }
        .cordonne{
        margin-top:5% ;
        display: flex;
        justify-content: space-around;
    
            h4{
                display: block;
                margin-top:25px ;
            }
            i{
                width: 35px ;
                height: 15px;
                margin-top:45px ;
                padding:1px ;
            }
            .adress{
                display: block;
                margin-top:5px ;
            }
            .numero{
                display: block;
                margin-top:5px ;
                

            }
            i {
                font-size: 24px;
                color: #f6f6f6;
            }
        }
    }
}