// @use "../abstract/mixins" as mn;

// @use "../abstract/variable" as cr;
  
header{
    width:100% ;
    font-family: "Lato-Regular";
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    .menu1_dropdown ul{
        font-family: "Lato-Regular";
        padding: 2%  ;
        color:rgb(13, 13, 13) ;
        display: flex; 
     
        li {
            padding-right: 5%;
            margin-right: 2%;
            
        }  
        nav{
            background-color: rgb(195, 110, 110);
            height: 3rem;
            display: flex;
            align-items: center;              
              a{ 
                color: black;
                padding: 12px;
                }          
            }
           
    }    

    .logo{
        display: inline-block;
        width:180px;
        height:55px;
        top: 3%;
        
    }
    .fa-bars{
             display: none;     
    }         
}