@charset "UTF-8";
@font-face {
  font-family: "Lato-Regular";
  src: url("/assets/Fonts/Lato-Regular.ttf");
}
header {
  width: 100%;
  font-family: "Lato-Regular";
  font-size: 20px;
}
header .menu1_dropdown ul {
  font-family: "Lato-Regular";
  padding: 2%;
  color: rgb(13, 13, 13);
  display: flex;
  padding-left: 63%;
  width: 40%;
}
header .menu1_dropdown ul li {
  padding-right: 5%;
  margin-right: 2%;
}
header .menu1_dropdown ul nav {
  background-color: rgb(195, 110, 110);
  height: 3rem;
  display: flex;
  align-items: center;
  position: relative;
}
header .menu1_dropdown ul nav a {
  color: black;
  padding: 12px;
}
header .logo {
  display: inline;
  width: 180px;
  height: 55px;
  position: absolute;
  top: 3%;
  left: 250px;
}
header .fa-bars {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

main {
  background-color: #fffcfc;
  font-family: "Lato-Regular";
  font-size: 25px;
}
main .article_1 {
  background-color: #E7816B;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 1%;
  height: 390px;
  display: flex;
  border-radius: 20px;
  position: relative;
}
main .article_1 .lorem {
  display: flex;
  justify-content: space-evenly;
}
main .article_1 .lorem h2 {
  padding-top: 5%;
  padding-left: 3%;
  width: 46.52%;
}
main .article_1 .lorem p {
  color: rgb(246, 246, 246);
  padding: 3%;
  width: 66.52%;
  font-size: 15px;
}
main .article_1 .h2_article_1 {
  width: 75%;
  color: white;
}
main .article_1 img {
  object-fit: cover;
  height: 375px;
  margin-top: 25%;
  margin-right: 105px;
}
main .article_1 .clipped-image {
  height: 340;
  clip-path: inset(0px 0px 60px 0px); /* Masque une partie de l'image */
}
main .a_article_1 {
  position: relative;
  background-color: #fefefe;
  color: rgb(0, 0, 0);
  padding: 3px 3px;
  border: 1px solid #000000;
  border-radius: 3px;
  transition: 0.25s ease;
  display: inline-block;
  width: 150px;
  margin-left: 3%;
  cursor: pointer;
  font-size: 18px;
}
main .a_article_1:hover {
  transform: translate(10px, 10px); /* Translation de 10px à droite et vers le bas */
  background-color: #2980b9; /* Changement de couleur du fond */
}
main .service {
  text-align: center;
  margin-top: 10%;
  position: relative;
}
main .service h2 {
  margin: 5%;
  position: absolute;
  top: -30%;
  left: 8%;
  font-size: 48px;
}
main .service_images {
  display: flex;
  justify-content: center;
}
main .service_images .centered-text {
  position: absolute; /* Positionnement par rapport au conteneur parent */
  top: 50%; /* Centrage vertical */
  left: 50%; /* Centrage horizontal */
  transform: translate(-50%, -50%); /* Ajuste pour que le centre du texte soit au centre du conteneur */
  color: white; /* Couleur du texte, ajustez selon l'image */
  font-size: 26px; /* Taille du texte */
  font-weight: bold; /* Texte en gras pour plus de lisibilité */
  text-align: center; /* Centrage du texte à l'intérieur du paragraphe */
  background-color: rgba(0, 0, 0, 0.1); /* Fond semi-transparent pour plus de lisibilité */
  padding: 5px 10px; /* Ajoute du padding autour du texte */
}
main .service_images a {
  color: rgb(255, 254, 254);
}
main .service_images span {
  display: block;
  font-size: 10px;
}
main .service_images .service_image1 {
  background-image: url(../img/homme-assis-batiment.jpg);
  background-size: cover;
  background-position: center;
  height: 532px;
  width: 750px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px black;
  position: relative;
}
main .service_images .service_image2 {
  background-image: url(../img/passport.jpg);
  background-size: cover;
  background-position: center;
  height: 259px;
  width: 750px;
  margin-left: 3%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px black;
  position: relative;
}
main .service_images .service_image3 {
  background-image: url(../img/montgolfiere.jpg);
  background-size: cover;
  background-position: center;
  height: 259px;
  width: 750px;
  margin: 3%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px black;
  position: relative;
}
main .features {
  text-align: center;
  justify-content: space-evenly;
  position: relative;
  margin-bottom: 15%;
}
main .features i {
  font-size: xx-large;
}
main .features h2 {
  position: absolute;
  top: -25%;
  right: 12%;
  font-size: 48px;
  margin-bottom: 35px;
}
main .features .parti_features {
  background-image: url(../img/wave.svg);
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5%;
  margin-top: 5%;
}
main .features .parti_features p {
  font-size: 17px;
  text-align: center;
  margin-top: 5%;
  color: grey;
}
main .features .parti_features .badge {
  margin-top: 3%;
  width: 20%;
}
main .features .parti_features .transpore {
  margin-top: 3%;
  width: 20%;
  height: 150px;
  margin-left: 5%;
  margin-right: 5%;
}
main .features .parti_features .maison {
  margin-top: 3%;
  width: 20%;
}
main .article_2 {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%;
  display: flex;
  border-radius: 15px;
  position: relative;
  bottom: 170px;
}
main .article_2 .lorem2 {
  font-family: "Lato-Regular";
  background-color: #E7816B;
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  font-size: 20px;
  top: 48px;
  border-radius: 10px;
}
main .article_2 .lorem2 h2 {
  color: rgb(246, 246, 246);
  padding-top: 4%;
  padding-left: 0%;
  width: 46.52%;
}
main .article_2 .lorem2 .p_lorem_2 {
  color: rgb(246, 246, 246);
  width: 90%;
}
main .article_2 .lorem2 .p_article_2 {
  display: flex;
}
main .article_2 .lorem2 .a_article_2 {
  background-color: #fefefe;
  color: rgb(0, 0, 0);
  padding: 5px 5px;
  border: 1px solid #000000;
  border-radius: 3px;
  transition: 0.25s ease;
  display: block;
  width: 170px;
  height: 10%;
  margin-right: 15%;
  margin-top: 12%;
  cursor: pointer;
}
main .article_2 .lorem2 .a_article_2 span {
  color: rgb(248, 0, 0);
  font-size: x-large;
}
main .article_2 .lorem2 .a_article_2 p {
  font-size: small;
}
main .article_2 .lorem2 .a_article_2:hover {
  transform: translate(10px, 10px); /* Translation de 10px à droite et vers le bas */
  background-color: #2980b9; /* Changement de couleur du fond */
}

footer {
  background-color: #000000;
  color: #fefefe;
  height: 450px;
  font-family: "Lato-Regular";
}
footer .menu2_logo {
  margin-top: 0%;
  position: relative;
  padding-top: 5%;
  padding-bottom: 3%;
}
footer .menu2_dropdown ul {
  margin-top: 3%;
  padding: 2%;
  color: rgb(255, 255, 255);
  display: flex;
  position: absolute;
  left: 65%;
  width: 28%;
  font-size: 20px;
}
footer .menu2_dropdown ul li {
  padding-right: 5%;
  margin-right: 2%;
}
footer .menu2_dropdown ul a {
  color: rgb(255, 255, 255);
}
footer .logo2 {
  display: inline;
  width: 179px;
  height: 59px;
  position: absolute;
  top: 109%;
  left: 200px;
}
footer .footer_tr {
  border: none;
  background-color: #fefefe;
  height: 1px;
  width: 76%;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 220px;
  margin-bottom: 0px;
}
footer .cordonne {
  margin-top: 8%;
  display: flex;
  justify-content: space-around;
}
footer .cordonne h4 {
  display: block;
  margin-top: 35px;
}
footer .cordonne i {
  width: 35px;
  height: 15px;
  margin-top: 45px;
  padding: 1px;
}
footer .cordonne .adress {
  display: block;
  margin-top: 5px;
}
footer .cordonne .numero {
  display: block;
  margin-top: 5px;
}
footer .cordonne i {
  font-size: 24px;
  color: #f6f6f6;
}

/* reponsive ________Tablettes et petits ordinateurs (max-width: 1070px) */
/* reponsive ________Tablettes et petits ordinateurs (max-width: 900px) */
@media (max-width: 990px) {
  header {
    width: 80%;
  }
  header .fa-bars {
    display: block;
    margin-left: 1rem;
    position: absolute;
    right: 150px;
    top: 15px;
    border: 2px solid gray;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 1%;
  }
  header .menu1_dropdown ul {
    display: none;
  }
  header .logo {
    position: relative;
    align-items: center;
    top: 10px;
    left: 140px;
  }
  main {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  main .article_1 {
    margin-top: 55px;
  }
  main .article_1 .lorem p {
    color: rgb(246, 246, 246);
    padding: 5%;
    width: 66.52%;
    font-size: small;
  }
  main .article_1 img {
    height: 305px;
    margin-top: 29%;
    margin-right: 70px;
  }
  main .article_1 .clipped-image {
    clip-path: inset(0px 0px 0px 0px); /* Masque une partie de l'image */
  }
  main .service {
    justify-content: center;
    text-align: center;
    margin-top: 15%;
    position: relative;
  }
  main .service h2 {
    margin: 0%;
    top: -15%;
    left: 45%;
    font-size: 28px;
  }
  main .service_images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .service_images .service_image1 {
    width: 350px;
  }
  main .service_images .service_image2 {
    width: 350px;
    margin-top: 10px;
  }
  main .service_images .service_image3 {
    width: 350px;
  }
  .features h2 {
    margin-top: 4%;
    top: 0;
    left: 17%;
    font-size: 28px;
  }
  .article_2 {
    margin-top: 1%;
    position: relative;
    bottom: 50px;
    left: 0;
  }
  .article_2 .lorem2 {
    margin-top: 65px;
    position: absolute;
  }
  .article_2 .lorem2 .p_lorem_2 {
    padding-left: 0%;
    width: 32%;
  }
  .article_2 .lorem2 .p_article_2 {
    width: 100%;
  }
  .article_2 .lorem2 .a_article_2 {
    padding: 15px 15px;
    display: block;
    width: 170%;
    height: 10%;
    margin-right: 15%;
    margin-top: 12%;
  }
  footer {
    padding-top: 7rem;
  }
  footer .menu2_dropdown ul {
    margin-top: 3%;
    padding: 1%;
    position: absolute;
    left: 58%;
    width: 25%;
  }
  footer .menu2_dropdown ul li {
    padding-right: 3%;
    margin-right: 2%;
  }
  footer .footer_tr {
    margin-top: 10%;
    width: 80%;
    justify-content: center;
    left: 10%;
  }
  footer .cordonne {
    padding-top: 10%;
    align-items: center;
  }
}
/* reponsive ________Tablettes et petits ordinateurs (max-width: 800px) */
@media (max-width: 750px) {
  main .service_images .service_image1 {
    width: 300px;
  }
  main .service_images .service_image2 {
    width: 300px;
    margin-top: 10px;
  }
  main .service_images .service_image3 {
    width: 300px;
  }
}
/* reponsive ________Mobile  (max-width: 650px) */
@media (max-width: 650px) {
  header {
    width: 80%;
  }
  header .fa-bars {
    display: block;
    position: absolute;
    top: 70px;
    right: 50%;
  }
  header .menu1_dropdown ul {
    display: none;
  }
  header .logo {
    position: relative;
    align-items: center;
    top: 10px;
    left: 230px;
  }
  main {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  main .article_1 {
    margin-top: 80px;
    justify-content: center;
  }
  main .article_1 .lorem p {
    font-size: 15px;
  }
  main .article_1 .lorem h2 {
    padding-top: 5%;
    padding-left: 3%;
    width: 66.52%;
    font-size: 25px;
  }
  main .article_1 .lorem p {
    color: rgb(246, 246, 246);
    padding: 3%;
    width: 66.52%;
    font-size: 15px;
  }
  main .article_1 .h2_article_1 {
    width: 75%;
    color: white;
  }
  main .article_1 img {
    height: 0px;
  }
  main .features {
    text-align: center;
    justify-content: center;
    position: relative;
    margin-bottom: 45%;
    margin-top: 75px;
  }
  main .features i {
    font-size: xx-large;
  }
  main .features h2 {
    position: absolute;
    top: -15%;
    right: 0%;
    font-size: 48px;
  }
  main .features .parti_features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5%;
    margin-top: 5%;
  }
  main .features .parti_features p {
    font-size: 17px;
    text-align: center;
    margin-top: 5%;
    color: grey;
  }
  main .features .parti_features .badge {
    margin-top: 3%;
    width: 80%;
    height: 30%;
  }
  main .features .parti_features .transpore {
    margin-top: 3%;
    width: 80%;
    height: 150px;
    margin-left: 0%;
    margin-right: 0%;
    height: 30%;
  }
  main .features .parti_features .maison {
    margin-top: 3%;
    width: 80%;
    height: 30%;
  }
  main .service h2 {
    margin-top: 80px;
  }
  main .service_images {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .service_images .service_image1 {
    width: 450px;
    height: 300px;
  }
  main .service_images .service_image2 {
    width: 450px;
    margin-top: 10px;
    height: 300px;
  }
  main .service_images .service_image3 {
    width: 450px;
    height: 300px;
  }
  main .article_2 {
    margin-top: 0%;
    display: flex;
    border-radius: 15px;
    position: relative;
    bottom: 170px;
    text-align: center;
  }
  main .article_2 .lorem2 {
    font-family: "Lato-Regular";
    background-color: #E7816B;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 15px;
    top: -58px;
  }
  main .article_2 .lorem2 h2 {
    color: rgb(246, 246, 246);
    padding-top: 4%;
    padding-left: 0%;
    width: 46.52%;
    justify-content: center;
  }
  main .article_2 .lorem2 .p_lorem_2 {
    width: 100%;
    font-size: 15px;
    justify-content: center;
  }
  main .article_2 .lorem2 .p_article_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .article_2 .lorem2 .a_article_2 {
    background-color: #fefefe;
    text-align: center;
    margin-left: 5%;
  }
  main .article_2 .lorem2 .a_article_2 p {
    font-size: 15px;
  }
  footer {
    background-color: #000000;
    color: #fefefe;
    height: 450px;
    font-family: "Lato-Regular";
  }
  footer .menu2_logo {
    margin-top: 0%;
    position: relative;
    padding-top: 5%;
    padding-bottom: 3%;
  }
  footer .menu2_dropdown ul {
    padding: 2%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40%;
    top: 25px;
    width: 28%;
    font-size: 20px;
  }
  footer .menu2_dropdown ul li {
    padding-right: 5%;
    margin-right: 2%;
  }
  footer .menu2_dropdown ul a {
    color: rgb(255, 255, 255);
  }
  footer .logo2 {
    display: block;
    width: 149px;
    height: 53px;
    position: absolute;
    top: -50%;
    left: 150px;
    margin-top: 1%;
  }
  footer .footer_tr {
    width: 80%;
    position: absolute;
    height: 0.5px;
    left: 50px;
    bottom: -1960px;
  }
  footer .cordonne {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .cordonne h4 {
    display: block;
    margin-top: 37px;
  }
  footer .cordonne i {
    width: 35px;
    height: 5px;
    margin-top: 15px;
    padding: 1px;
  }
  footer .cordonne .adress {
    display: block;
    margin-top: 0px;
  }
  footer .cordonne .numero {
    display: block;
    margin-top: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
