

/* reponsive ________Tablettes et petits ordinateurs (max-width: 1239px) */
// la____partie______header
@media (max-width: 1233px) {
    main{

        .article_2{ 
            margin-top: 1%;
          
            
            .lorem2{               
                height: 215px;
         
                .p_lorem_2{ 
                    padding-left: 0%;
                   
                   
                }
                .p_article_2{ 
                    width: 100%;
                }
                .a_article_2 {   
                    padding: 5px 5px;
                    display: block;
                    width: 25%;
                    height: 10%;
                   
                }
            }
        }   
    }    
}
    /* reponsive ________Tablettes et petits ordinateurs (max-width: 1239px) */
// la____partie______header
@media (max-width: 1080px) {
    main{
          // la partie_________________________ service        }
            .service{
                justify-content: center;
                text-align: center;
                margin-top: 15%;
                position: relative;
                h2{
                    margin: 0%;           
                    top: -25%;
                    left: 45%;
                    font-size: 38px;
                }
            }
    }
}
/* reponsive ________Tablettes et petits ordinateurs (max-width: 999px) */
// la____partie______header
@media (max-width: 1002px) {

    header{
            width:100% ; 

            .fa-bars {
                display: block;
                margin-left: 1rem; 
                top:15px;
                border: 2px solid gray;
                width: 25px;
                height: 25px;
                text-align: center;
                padding-top: 1%;

            }   

            .menu1_dropdown ul{
                display: none;                     
            }   
            
           
            .logo{
        
                align-items: center;  
                top:10px ;
                left: 140px;        
            } 
        }     
    // la____partie______main______________________________     
    main{
            width: 100%;
            justify-content: center;
            align-items: center;
            // la premiere____________________________________ partie
            .article_1{
                margin-top: 55px;
                .lorem{ 
                    h2{
                        width: 80%;
                    }
                }
            } 
    // la partie_________________________ service        }
        .service{
            justify-content: center;
            text-align: center;
            margin-top: 15%;
            position: relative;
            h2{
                margin: 0%;           
                 top: -15%;
                 left: 45%;
                font-size: 28px;
            }
        }
        .service_images{
            
            display: flex;
            justify-content: center;
            align-items: center;
            .service_image1 {
                width: 350px;
                
            }
            .service_image2 {
                width: 350px;
                margin-top: 10px;
                
            }
            .service_image3 {
                width: 350px;
               
            }
        }
        }
        ////////////////parti_____ Features
         .features{
                h2{
                    margin-top: 4%;
                    top: 0;
                    left: 17%;
                   font-size: 28px;
                }        
        }
        //______________________ article2
        
        .article_2{ 
            margin-top: 1%;
            position: relative;
            bottom:50px;
            left: 0;
            .lorem2{               
                margin-top: 55px;              
                position: absolute;         
                .p_lorem_2{ 
                    padding-left: 0%;
                    width:32%;
                }
                .p_article_2{ 
                    width: 100%;
                }
                .a_article_2 {   
                    padding: 15px 15px;
                    display: block;
                    width: 25%;
                    height: 10%;
                    margin-right: 15%;
                    margin-top: 12%;
                }
            }
    }   
     
 // ________footer____________________________
    footer{ 
        padding-top: 7rem;
        .menu2_dropdown ul{
          margin-left: 590px;
          position: relative;
            width: 25%;
            top: -55px;
            li {
                padding-right: 3%;
                margin-right: 2%;
                }  
        }         
        .footer_tr{
          
            width: 80%;
            justify-content: center;
            left: 10%;
        }
        .cordonne{
        padding-top: 0%;
         align-items: center;
         }
    }    

}
/* reponsive ________Tablettes et petits ordinateurs (max-width: 900px) */
// la____partie______header
@media (max-width: 910px) {
     // la____partie______main______________________________     
     main{
        width: 100%;
        justify-content: center;
        align-items: center;
        // la premiere____________________________________ partie
        .article_1{
            margin-top: 55px;
            .lorem{ 
                    p{ 
                        padding: 5%;
                        width:66.52%;
                        font-size: x-small;
                    }
                }
                h2{
                    padding-top: 5%;
                    padding-left: 3%;
                    width:100%;
                    
                }
                p{  color: rgb(246, 246, 246);
                    padding: 3%;
                    width:100%;
                    font-size: 15px;
                }
            }
        .h2_article_1{
                    width: 1000%;
                    color: white;           
            img{ 
                height:305px ;
                margin-top: 29%;
                margin-right: 70px;  
            }
            h2{
                width: 100%;
                font-size: 30px;
            }
        }
         
        // article2___________
        .article_2{ 
          
            .lorem2{               
                     
                .p_article_2 {
                    height: auto;
                    width: 100%;
                }
                .a_article_2 {   
                    padding: 3px 3px;
                    display: block;
                    width: 40%;
                    height: 10%;
                    margin-right: 15%;
                    margin-top: 12%;
                        }            
            }
        }
    }
    // _____________FOOOTER_____________________________
        .menu2_logo{ 
            flex-direction: column;
            align-items: center;
            nav div ul{
                padding: 2%  ;
                display: flex;
                flex-direction: column;
                text-decoration: none;
                font-size: 20px;
            }

        .logo2{
            display: block;
            
            
               
    }
}

}


/* reponsive ________Tablettes et petits ordinateurs (max-width: 850px) */
// la____partie______header
@media (max-width: 850px) {
     //  article__________2//////////////////////////
     main{
        .article_2{
            display: flex;
            position: relative;
            text-align: center;
            height: auto;
        margin-top: 230px;
        
            .lorem2{ 
                
            
                width: 100%;
                display: flex;
                justify-content: center;
                position: absolute;
                font-size: 15px;
                top:-58px;
            
                    h2{ 
                        width:100%;
                        justify-content: center;
                        
                    }
                    
                    .p_lorem_2{ 
                        width:100%; 
                        height: auto;
                        font-size: 20px;
                        text-align: center;
                    }
                    .p_article_2{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    .a_article_2 {
                        margin-bottom: 10px;  
                        width: 150px;                   
                }
            }
        }   
     }

}
/* reponsive ________Tablettes et petits ordinateurs (max-width: 750px) */
// la____partie______header
@media (max-width: 750px) {
     // la partie_________________________ service        }
     main{
        .service_images{
            .service_image1 {
                width: 300px;
                
            }
            .service_image2 {
                width: 300px;
                margin-top: 10px;
                
            }
            .service_image3 {
                width: 300px;
            
            }
        }
             
    }
}
/* reponsive ________Mobile  (max-width: 650px) */
// la____partie______header
@media (max-width: 720px) {

    // h__e__a__d__e__r
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        .fa-bars {
            display: block;      
            margin-top: 10px;
                
        }  
        .menu1_dropdown ul{
            display: none;                     
        }   
        .logo{  
            margin-top: 10px;                    
           
    } 
 }
   

    // partie ________________main_____________
    main{
        width: 100%;
        justify-content: center;
        align-items: center;
        // la premiere____________________________________ partie
        .article_1{
            margin-top: 30px;
            justify-content: center;
            .lorem{ 
                    p{  
                       font-size: 15px;
                       width:100%;

                       
                    }
                    h2{
                        padding-top: 5%;
                        padding-left: 3%;
                        width:90.52%;
                        font-size: 25px ;
                            
                    }
                    .p_article_1 {  
                        color: rgb(246, 246, 246);
                        padding: 3%;
                        width:100%;
                        font-size: 15px;
                    }
                }
            .h2_article_1{
                    width: 75%;
                    color: white;
                }
           img{ 
                height:0px ;  
            }
        }

         ////////////////parti_____ Features
    .features{
    
        text-align: center;
        justify-content: center;
        position: relative;
        margin-bottom: 45%;
        margin-top: 75px;
        i{
            font-size: xx-large;
        }
        h2{
            position: absolute;
            top: -15%;
            right:0%;
            font-size: 48px;           
        }
        .parti_features{
           
            display: flex;
            flex-direction: column;
            height: auto;
            text-align: center;
            margin: 5%;
            margin-top: 5%;
            p{
                font-size: 17px;
                text-align: center;
                margin-top: 5%;
                color: grey;
            
            }

            .badge{
                margin-top: 3%;
                width:80% ;
                height: 30%;

            }
            .transpore{
                margin-top: 3%;
                width:80% ;
                height: 150px;
                margin-left:0% ;
                margin-right:0% ;
                height: 30%;

            }
            .maison{
                margin-top: 3%;
                width:80% ;
                height: 30%;
            }

        }
    }


    // la partie_________________________ service        }
        .service h2{
           margin-top: 80px;
        }
        .service_images{
            display: flex;
            flex-direction: column;
            align-items: center;
            .service_image1 {
                width: 450px;
                height: 300px;      
                
            }
            .service_image2 {
                width: 450px; 
                margin-top: 10px;
                height: 300px;      

            }
            .service_image3 {
                width: 450px; 
                height: 300px;      
            }  
             }

            //  article__________2//////////////////////////
             .article_2{
                display: flex;
                position: relative;
                text-align: center;
                height: auto;
            
                .lorem2{ 
                    
                   
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    font-size: 15px;
                    top:-58px;
                   
                        h2{ 
                            padding-top: 4%;
                            padding-left: 0%;
                            width:100%;
                            justify-content: center;
                            
                        }
                        
                        .p_lorem_2{ 
                            width:100%; 
                            height: auto;
                            font-size: 10px;
                           justify-content: center;
                        }
                        .p_article_2{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                        .a_article_2 {
                            background-color: #fefefe;
                            text-align: center;  
                            margin-left: 5%; 
                                    p{
                                        font-size:15px;
                                    }
                        }
                        
                    }
            }
    }


// ________menu2+logo____________________________

 // ________menu2+logo____________________________
 footer{
    
    height: auto;
    
        .footer_cordonne{
            display: flex;
            flex-direction: column;
        .menu2_logo{
           
            margin-top: 45px;
            margin-left: 100px;
            display: flex;
            flex-direction: column;
        }

        .menu2_dropdown ul{
            padding: 2%  ;
            display: flex;
            flex-direction: column;
            margin-left: 250px;
            width: 18%;
            font-size: 20px;
            li {
                padding-right: 5%;
                margin-right: 2%;
                }
            a{ 
                color: rgb(255, 255, 255);
                }
        }

        .logo2{
            display: block;
            width:149px;
            height:53px;
            position: absolute;
            top: -50%;
            left:150px; 
            margin-top: 1%;   
    }
        .footer_tr{
        width: 80%;
        height: 0.5px;
        left: 50px;
        bottom:-10px;
        }
        .cordonne{
        margin-top:8% ;
        display: flex;
        flex-direction: column;
        justify-content: center;
            h4{
                display: block;
                margin-top:37px ;
            }
            i{
                width: 35px ;
                height: 5px;
                margin-top:15px ;
                padding:1px ;
            }
            .adress{
                display: block;
                margin-top:0px ;
            }
            .numero{
                display: block;
                margin-top:0px ;
        
            }
            
       }   
    }
    
}
}
/* reponsive ________Mobile  (max-width: 550px) */
// la____partie______header
@media (max-width: 480px) {

    main{
        width: 100%;
        justify-content: center;
        align-items: center;
// la partie_________________________ service        }
    .service{
        justify-content: center;
        text-align: center;
        margin-top: 15%;
        position: relative;
       
    }
    .service_images{
        
        display: flex;
        justify-content: center;
        align-items: center;
        .service_image1 {
            width: 350px;
            
        }
        .service_image2 {
            width: 350px;
            margin-top: 10px;
            
        }
        .service_image3 {
            width: 350px;
           
        }
    }
    }
    .article_2 .lorem2 .p_article_2 {

        margin-top: 5px;
    }
}